
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 30px;
        background-color: antiquewhite;
        
    }
    h1,h2 {
        color: darkmagenta;
    }
    img{
        width: 500px;
        height: 500px;
        
    }
    video{
        width: 600px;
        height: 400px;
        
    }
    .knopf {
    background-color: #0022ff;
    color: rgb(11, 178, 61);
    padding: 15px 15px;
    border: 4px solid rgb(51, 153, 56);
    border-radius: 60px;
    cursor: pointer;
    font-size: 16px;
}

.knopf:hover {
    background-color: #cc0025;
    border: 5px solid black;
    color: thistle  ;
    transform: scale(1.03);
}
.knopf:active{
    transform: scale(0.95);
    color: black;
    background-color: violet;
    border: 5px solid darkgoldenrod;
    border-radius: 20px;
}
input[type="email"]{
    width: 150px;
    height: 40px;
    background-color: plum;
    border: 2px solid darkcyan;
}
input:hover[type="email"]{
    background-color: darkmagenta;
    color: white;

}
#BGmusik1{
    position: fixed;
    top: 90px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}
.k_img{
    width: 50px;
    height: 50px;
}
.BG_musik{
    border: 10px solid grey;
    box-shadow: inset 0px 0px 80px black;
    border-radius: 7px;
    
}
.BG_musik:hover{
    border: 8px solid darkblue;

}
.feld{
    height: 300px;
    width: auto;
    background-color: grey;
    border-radius: 30px;
}
.tier_text{
    font-size: xx-large;
    color: darkblue;
    margin-left: 20px;
}
.tier-auswähler{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.bild_tier_auswahl{
    width: 100px;
    height: 100px;
    margin-left: 20px;
}